<!-- More Info Modal -->
<div class="modal fade text-white no-select modal-xl" data-bs-theme="dark" id="moreInfoModal" tabindex="-1" aria-labelledby="moreInfoLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content" style="background-color: #090C08 !important;">
         <div class="modal-header">
           <h3 class="modal-title" id="moreInfoLabel">Constellation info</h3>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <div class="container" data-bs-theme="light">
             <div class="row" id="modalRow">
              <!-- Content will be loaded here -->
              </div>
           </div>
         </div>
         <!--<div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>-->
         <br />
       </div>
    </div>
   </div>
<!--End Of More Info Modal-->
{% include 'mainApp/ajax_script.html' %}